apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -o ./k8s/
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: dse
  name: dse
spec:
  ports:
  - name: "9042"
    port: 9042
    targetPort: 9042
  - name: "8983"
    port: 8983
    targetPort: 8983
  - name: "8182"
    port: 8182
    targetPort: 8182
  selector:
    io.kompose.service: dse
status:
  loadBalancer: {}
