apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -o ./k8s/
    kompose.service.type: nodeport
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: studio
  name: studio
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: studio
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -o ./k8s/
        kompose.service.type: nodeport
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: studio
    spec:
      containers:
      - env:
        - name: DS_LICENSE
          value: accept
        image: datastax/dse-studio:6.7.0
        imagePullPolicy: ""
        name: studio
        ports:
        - containerPort: 9091
        resources: {}
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null
status: {}
